body {
    background-color: rgb(197, 240, 223);
    font-family: "Work Sans", sans-serif;
}

.work-sans-regular{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } /*Fuente de Google*/